// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
body{
background-image: url('../../public/img/bank3.avif');background-position: center center; background-size: cover;
}






.client-list{
opacity: 0.9;
color:white;
// background-color: rgba(181, 176, 176, 0.623);
background: rgba(160, 153, 153, 0.23);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.4px);
-webkit-backdrop-filter: blur(7.4px);
border: 2px solid rgba(232, 227, 227, 0.35);
}
.custom-input{
    font-weight: bold;
    border: none;
}
.custom-account-list{
    border: none;

}
.custom-account-list:hover{
    background-color: rgba(118, 122, 121, 0.5);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.custom-account-list a{
 text-decoration: none;
 color: black;
}
.modal{
    display: block;
    background-color: #00000099;
    z-index: 999;
}
