// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.client-list{
opacity: 0.9;
color:white;
background-color: rgba(181, 176, 176, 0.623);
}
